<div style="background-color: #e45d5d; width: fit-content; margin: 100px; padding: 20px; text-align: center; color: #FFFFFF;
box-shadow: 6px 6px 30px rgba(0,0,0,0.2); border-radius: 12px; font-family: Inter, serif">
  <h1>Account Details</h1>
  <div style="display: flex; flex-direction: column">
    <div style="display: flex">
      <div style="display: flex; flex-direction: column; padding: 20px; text-align: left">
        <span>Current Package</span>
        <span>Renewal Date</span>
      </div>
      <div style="display: flex; flex-direction: column; padding: 20px; text-align: right">
        <span>Basic Package</span>
        <span>13/02/1998</span>
      </div>
    </div>
    <div>
      <button class="manage-subscription-button btn btn-primary btn-block box-shadow">Manage Subscription</button>
    </div>
  </div>
</div>

