<div style="padding: 1rem">
  <h1>TrendLens</h1>

  <app-sidenav-link routerLink="/">
    <span icon>🏠</span>
    <span>Home</span>
  </app-sidenav-link>

  <app-sidenav-link routerLink="/analytics">
    <span icon>📈</span>
    <span>Analytics</span>
  </app-sidenav-link>

  <app-sidenav-link routerLink="/listings">
    <span icon>🗄️</span>
    <span>Listings</span>
  </app-sidenav-link>

  <app-sidenav-link routerLink="/account">
    <span icon>👤</span>
    <span>Account</span>
  </app-sidenav-link>

  <app-sidenav-link routerLink="/checkout">
    <span icon>👤</span>
    <span>Checkout</span>
  </app-sidenav-link>
</div>
