<div style="padding: 1rem; height: 100%; display: flex; flex-direction: column">
  <h1>TrendLens</h1>

  <app-sidenav-link routerLink="/">
    <span icon>🏠</span>
    <span>Home</span>
  </app-sidenav-link>

  <app-sidenav-link routerLink="/analytics">
    <span icon>📈</span>
    <span>Analytics</span>
  </app-sidenav-link>

  <app-sidenav-link routerLink="/listings">
    <span icon>🗄️</span>
    <span>Listings</span>
  </app-sidenav-link>

  <app-sidenav-link routerLink="/sales">
    <span icon>🗄️</span>
    <span>Sales</span>
  </app-sidenav-link>

  <app-sidenav-link routerLink="/account">
    <span icon>👤</span>
    <span>Account</span>
  </app-sidenav-link>

  <div style="margin-top: auto; margin-bottom: auto"></div>

  <app-sidenav-link routerLink="/logout" (click)="authService.signOut();">
    <span icon>👤</span>
    <span>Logout</span>
  </app-sidenav-link>
</div>
