<div>
  <button *ngIf="(auth.isAuthenticated$ | async) === false" (click)="login()" id="login">Login</button>
  <div *ngIf="auth.user$ | async as user">
    <h2>Welcome, {{user?.email}}! </h2>
    <h2 *ngIf="subscription">You have the {{subscription}}!</h2>
  </div>
  <button *ngIf="auth.isAuthenticated$ | async" (click)="logout()" id="logout">Logout</button>
</div>
<div class="measures-grid">
  <div class="figure-grid">
    <app-figure class="item">
      <h1 header>£1000</h1>
      <h2 body>Sales</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Sales</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Sales</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Cost</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Cost</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Cost</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Revenue</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Revenue</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Revenue</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Unknown</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Unknown</h2>
    </app-figure>
    <app-figure>
      <h1 header>£1000</h1>
      <h2 body>Unknown</h2>
    </app-figure>
  </div>
<!--  <ag-charts-angular style="height: 100%" [options]="chartOptions"></ag-charts-angular>-->
<!--  <ag-charts-angular style="height: 100%" [options]="barChartOptions"></ag-charts-angular>-->
</div>

<button (click)="openDialog()">Add Sale</button>

<ag-grid-angular #salesGrid
  class="ag-theme-quartz-dark"
  style="height: 500px;"
  [rowData]="rowData"
  [gridOptions]="gridOptions">
</ag-grid-angular>
