<div class="grid">
  <div class="g-col-12 g-col-md-4 g-col-xl-2">
    <div class="card surface-card text-500 flex justify-content-between pt-4 h-100 box-shadow">
      <div style="box-sizing: border-box">
        <h3 class="m-0 mb-1 text-500">Sales</h3>
        <h1 class="m-0 text-500">23</h1>
      </div>
    </div>
  </div>
  <div class="g-col-12 g-col-md-4 g-col-xl-2">
    <div class="card surface-card text-500 flex justify-content-between pt-4 h-100 box-shadow">
      <div style="box-sizing: border-box">
        <h3 class="m-0 mb-1 text-500">Sales</h3>
        <h1 class="m-0 text-500">23</h1>
      </div>
    </div>
  </div>
  <div class="g-col-12 g-col-md-4 g-col-xl-2">
    <div class="card surface-card text-500 flex justify-content-between pt-4 h-100 box-shadow">
      <div style="box-sizing: border-box">
        <h3 class="m-0 mb-1 text-500">Sales</h3>
        <h1 class="m-0 text-500">23</h1>
      </div>
    </div>
  </div>
  <div class="g-col-12 g-col-md-4 g-col-xl-2">
    <div class="card surface-card text-500 flex justify-content-between pt-4 h-100 box-shadow">
      <div style="box-sizing: border-box">
        <h3 class="m-0 mb-1 text-500">Sales</h3>
        <h1 class="m-0 text-500">23</h1>
      </div>
    </div>
  </div>
  <div class="g-col-12 g-col-md-4 g-col-xl-2">
    <div class="card surface-card text-500 flex justify-content-between pt-4 h-100 box-shadow">
      <div style="box-sizing: border-box">
        <h3 class="m-0 mb-1 text-500">Sales</h3>
        <h1 class="m-0 text-500">23</h1>
      </div>
    </div>
  </div>
  <div class="g-col-12 g-col-md-4 g-col-xl-2">
    <div class="card surface-card text-500 flex justify-content-between pt-4 h-100 box-shadow">
      <div style="box-sizing: border-box">
        <h3 class="m-0 mb-1 text-500">Sales</h3>
        <h1 class="m-0 text-500">23</h1>
      </div>
    </div>
  </div>
  <div class="g-col-12 g-col-md-6 g-col-xl-3">
    <div class="card surface-card text-500 flex justify-content-between pt-4 box-shadow">
      <ag-charts #profitGraph [options]="options" style="height: 150px"></ag-charts>
    </div>
  </div>
  <div class="g-col-12 g-col-md-6 g-col-xl-3">
    <div class="card surface-card text-500 flex justify-content-between pt-4 box-shadow">
      <ag-charts [options]="options" style="height: 150px"></ag-charts>
    </div>
  </div>
  <div class="g-col-12 g-col-md-6 g-col-xl-3">
    <div class="card surface-card text-500 flex justify-content-between pt-4 box-shadow">
      <ag-charts [options]="options" style="height: 150px"></ag-charts>
    </div>
  </div>
  <div class="g-col-12 g-col-md-6 g-col-xl-3">
    <div class="card surface-card text-500 flex justify-content-between pt-4 box-shadow">
      <ag-charts [options]="options" style="height: 150px"></ag-charts>
    </div>
  </div>

  <div class="g-col-12 g-col-xxl-8">
    <div class="card surface-card text-500 flex justify-content-between pt-4 h-100 box-shadow">
      <div class="flex justify-content-center align-items-center">
        <h1 class="m-0 mb-1 text-500 text-center">Recent Sales</h1>
        <span class="badge rounded-pill bg-warning text-dark">Action Required</span>
      </div>
      <ag-grid-angular #salesGrid
                       class="ag-theme-quartz"
                       style="height: 500px;"
                       [rowData]="rowData"
                       [gridOptions]="gridOptions">
      </ag-grid-angular>
    </div>
  </div>

  <div class="g-col-12 g-col-xxl-4">
    <div class="card surface-card text-500 flex justify-content-between pt-4 h-100 box-shadow">
      <div class="flex justify-content-center align-items-center">
        <h1 class="m-0 mb-1 text-500 text-center">Recent Listings</h1>
        <span class="badge rounded-pill bg-warning text-dark">Action Required</span>
      </div>
      <ag-grid-angular #salesGrid
                       class="ag-theme-quartz"
                       style="height: 500px;"
                       [rowData]="rowData"
                       [gridOptions]="gridOptions">
      </ag-grid-angular>
    </div>
  </div>
</div>
