<div class="grid">
  <!-- Stats Cards -->
  <ng-container *ngFor="let stat of statsData">
    <div class="g-col-12 g-col-md-4 g-col-xl-2">
      <app-stats-card [title]="stat.title" [value]="stat.value"></app-stats-card>
    </div>
  </ng-container>

  <!-- Chart Cards -->
  <ng-container *ngFor="let chart of chartConfigs">
    <div class="g-col-12 g-col-md-6 g-col-xl-3">
      <app-chart-card [options]="chart.options"></app-chart-card>
    </div>
  </ng-container>

  <!-- Data Grid Cards -->
  <div class="g-col-12 g-col-xxl-8">
    <app-grid-card
      title="Recent Sales"
      [showActionBadge]="true"
      [gridOptions]="salesGridOptions"
      [rowData]="salesData">
    </app-grid-card>
  </div>

  <div class="g-col-12 g-col-xxl-4">
    <app-grid-card
      title="Recent Listings"
      [showActionBadge]="true"
      [gridOptions]="listingsGridOptions"
      [rowData]="listingsData">
    </app-grid-card>
  </div>
</div>
