:host {
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.sidenav {
  height: 100vh;
  width: var(--sidenav-width);

  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 1 auto;
  padding: 2rem;
}
