<nav *ngIf="showProgress()" aria-label="Progress" class="mb-6">
  <ol role="list" class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-y-0">
    <li class="relative md:flex md:flex-1" *ngFor="let step of steps; let i = index">
      <!-- Completed Step -->
      <a *ngIf="i < currentIndex" href="#" class="group flex w-full items-center">
        <span class="flex items-center px-6 py-4 text-sm font-medium">
          <span class="flex size-10 shrink-0 items-center justify-center rounded-full bg-brand-500 group-hover:bg-brand-700">
            <svg class="size-6 text-white" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
            </svg>
          </span>
          <span class="ml-4 text-sm font-medium text-gray-900">{{ step.label }}</span>
        </span>
      </a>

      <!-- Current Step -->
      <a *ngIf="i === currentIndex" href="#" class="flex items-center px-6 py-4 text-sm font-medium" aria-current="step">
        <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-brand-500">
          <span class="text-brand-500">{{ (i + 1) | number:'2.0' }}</span>
        </span>
        <span class="ml-4 text-sm font-medium text-brand-500">{{ step.label }}</span>
      </a>

      <!-- Upcoming Step -->
      <a *ngIf="i > currentIndex" href="#" class="group flex items-center">
        <span class="flex items-center px-6 py-4 text-sm font-medium">
          <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
            <span class="text-gray-500 group-hover:text-gray-900">{{ (i + 1) | number:'2.0' }}</span>
          </span>
          <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900">{{ step.label }}</span>
        </span>
      </a>

      <!-- Arrow separator for lg screens and up -->
      <div class="absolute right-0 top-0 hidden h-full w-5 md:block" aria-hidden="true" *ngIf="i < steps.length - 1">
        <svg class="size-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
          <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
        </svg>
      </div>
    </li>
  </ol>

</nav>

<router-outlet />
