<div class="space-x-4 border-b border-gray-100 mt-6 grid grid-cols-1">
  <h2 class="text-xl text-red-500 border-red-400 font-semibold mb-4">Action Required</h2>
  <h2 class="text-sm text-gray-500 font-semibold mb-4">Please make sure all sales have a <b>Postage Cost</b>, and an <b>Item Cost</b> for each product. (Refresh once you've finished to load more sales)</h2>
</div>

<!-- Card Grid - Limited to 5 cards -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 gap-4 w-full" style="max-width: 100%;">
  <!-- Sale Card Component -->
  <app-sale-card
    *ngFor="let sale of salesData"
    [sale]="sale"
    [itemCount]="saleItemCounts[sale.id]"
    [canEdit]="true"
    (cardClick)="navigateToSale($event)">
  </app-sale-card>
</div>
