.checkout-body {
  display: flex;
  justify-content: center;
  background-color: #e45d5d;
  height: 100%;
  width: 100%;
}

.checkout-background {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  width: fit-content;
}

.title-text {
  line-height: 160px;
}

.stripe-pricing-table {
  border-color: #FFFFFF;
  border-style: dotted ;
  border-width: 1px;
}
